### Creation of delta tables using DDL command

In [0]:

%sql
create database my_db;

In [0]:
%sql
CREATE TABLE my_db.employees (
    empid INT,
    empname STRING,
    age INT,
    salary FLOAT
)
USING DELTA;

In [0]:
## NOTE : IN THE ABOVE STATEMENT, USING DELTA is OPTIONAL

In [0]:
%sql
INSERT INTO my_db.employees (empid, empname, age, salary)
VALUES
    (1, 'Alice', 30, 60000.50),
    (2, 'Bob', 35, 70000.75),
    (3, 'Charlie', 28, 80000.00);

In [0]:
%sql
select * from my_db.employees

## Creation of Delta table from another table (CTAS approach)

In [0]:
%sql
CREATE TABLE delta_table_example (
    empid INT,
    empname STRING,
    age INT,
    salary FLOAT,
    department STRING,
    join_date DATE
)

In [0]:
%sql
INSERT INTO delta_table_example (empid, empname, age, salary, department, join_date)
VALUES
    (1, 'Alice', 30, 60000.50, 'HR', '2020-05-15'),
    (2, 'Bob', 35, 70000.75, 'IT', '2019-08-22'),
    (3, 'Charlie', 28, 80000.00, 'Finance', '2021-01-10'),
    (4, 'David', 40, 90000.00, 'IT', '2018-04-12'),
    (5, 'Eve', 32, 75000.00, 'Marketing', '2020-11-30'),
    (6, 'Frank', 29, 67000.25, 'HR', '2022-07-01'),
    (7, 'Grace', 31, 85000.00, 'IT', '2019-03-18'),
    (8, 'Henry', 38, 92000.50, 'Finance', '2017-06-25'),
    (9, 'Ivy', 27, 72000.10, 'Marketing', '2021-09-15'),
    (10, 'Jack', 45, 95000.00, 'Sales', '2016-02-10');

In [0]:
%sql
select * from delta_table_example

In [0]:
%sql
create or replace table 
my_db.employees_ctas
as 
select empid,empname,age,salary
from delta_table_example